<div class="row profile-bar">
  <div class="large-3 columns">
    <img src="<%= user.get('profile_img_url') %>">
  </div>
  <div class="large-9 columns">
    <h1><%= user.get('name') %></h1>
  </div>
</div>