<div class="row">
  <div class="large-2 columns">
    <img src="<%= user.profile_img_url %>">
  </div>
  <div class="large-10 columns">
    <h6><%= user.name %></h6>
    <%= comment.get('body') %>
  </div>
</div>