<div class="row comment">
  <div class="large-2 columns">
    <div class="comment-avatar">
      <img src="<%= user.profile_img_url %>" />        
    </div>
    
  </div>
  <div class="large-10 columns">
    <h6><%= user.name %></h6>
    <%= comment.get('body') %>
  </div>
</div>