<h1>Photos</h1>
<div class="small-12 large-12 columns">
  <ul class="clearing-thumbs" data-clearing>
    <% photos.each(function(photo) { %>

    <li>
      <a class="th" href="<%= photo.get('url') %>">
        <img 
          src="<%= photo.get('url') %>"
          class="thumbnail">
      </a>
    </li>
    <% }) %>
  </ul>
</div>