<div class="row">
  <div class="small-3 large-2 columns "><img src="<%= SpaceFace.CurrentUser.profile_img_url %>" /></div>
  <div class="small-9 large-10 columns">
    <p><strong><%= photo.get("user").name %></strong> 
    <br>
    <div class="small-9 large-10 columns">
      <img src="<%= photo.get('url') %>" />
    </div>
    <ul class="inline-list">
      <li><a href="">Reply</a></li>
      <li><a href="">Share</a></li>
    </ul>
  </div>
</div>
<hr />
