<div class="section-container auto" 
  data-section 
  data-options="deep_linking: true;" 
  style>
  <section class="section active" style="padding-top: 48px;" >
    <p class="title" style="left: 0px">
      <a href="#">Update Status</a>
    </p>
    <div class="content" data-slug="panel1" style>
      <form>
        <!-- <input type="hidden" name="item_type" value="StatusUpdate"> -->
        <textarea name="body" 
                  class="status-update" 
                  placeholder="Type your status here"></textarea>
        <input class="tiny button" type="submit" class="post-status" value="Update">
      </form>
    </div>
  </section>

  <section class="section">
    <p class="title" style="left: 87px">
      <a href="#">Upload Photo</a>
    </p>
    <div class="content" data-slug="panel2" style>
    <form 
      action="/photos" 
      enctype="multipart/form-data" 
      id="uploadForm" 
      method="post">
      
      <input 
        name="authenticity_token" 
        type="hidden" 
        value= "<%= $('meta[name="csrf-token"]').attr('content') %>"
      />

      <textarea name="photo[description]" 
                class="photo-description"
                placeholder="Add a description"></textarea>
      <br>

      Upload : 
      <input id="photo_photo" 
             name="photo[photo]" 
             type="file" /> 

      <input class="tiny button" 
             name="commit" 
             type="submit" 
             value="Post Photo" 
             class="post-photo" />
    </form>
    </div>
  </section>
</div>