
<div id="content" class="large-9 columns push-3 content" ></div>


<div id="sidebar" class="large-3 columns pull-9 sidebar">

</div>



<script type="application/json" id="current_user">
  <%= @user.html_safe %>
</script>

<script>
  $(function() {
    SpaceFace.initialize();
  })
</script>