
<div id="content" class="large-6 columns push-3" ></div>


<div class="large-3 columns pull-6">
  <div class="panel">
    <a href="#"><img src="http://placehold.it/300x240&text=[img]" /></a>
    <h5> <%= current_user.name %> </h5>
    <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
      <section class="section">
        <h5 class="title"><a href="#">News Feed</a></h5>
      </section>
      <section class="section">
        <h5 class="title"><a href="#/friends">Friends</a></h5>
      </section>
    </div>

  </div>
</div>

<script type="application/json" id="current_user">
  <%= current_user.to_json.html_safe %>
</script>

<script>
  $(function() {
    SpaceFace.initialize();
  })
</script>