<div id="sidebar">
  <ul>
    <li>News Feed</li>
  </ul>
</div> 
<div id="content"></div>


<script type="application/json" id="current_user">
  <%= current_user.to_json.html_safe %>
</script>

<script>
  $(function() {
    SpaceFace.initialize();
    SpaceFace.CurrentUser = JSON.parse($("#current_user").html());
  })
</script>