<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">SpaceFace</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li>
        <form>
          <li><input type="text" name="q"></li>
          <li><input class="button prefix" type="submit" value="Search"></li>
        </form>
      </li>
      <li>
        <a 
          href="/users/sign_out" 
          data-method="delete" 
          rel="nofollow">
          Sign out
        </a>
      </li>     
    </ul>
  </section>
</nav>