<div class="row">
  <div class="small-3 large-2 columns "><img src="http://placehold.it/80x80&text=[img]" /></div>
  <div class="small-9 large-10 columns">
    <p><strong><%= status.get("user").name %></strong> 
    <br>
    <%= status.escape("body") %>
    <ul class="inline-list">
      <li><a href="">Reply</a></li>
      <li><a href="">Share</a></li>
    </ul>
  </div>
</div>
<hr />
