<div class="panel sidebar">
    <a href="#">
      <img src="<%= SpaceFace.CurrentUser.get('profile_img_url') %>" />
    </a>
    <h5> <%= SpaceFace.CurrentUser.get("name") %> </h5>
    <div class="vertical-tabs" data-section="vertical-tabs">
      <section>
        <p class="title" data-section-title>
          <a href="#">News Feed</a>
        </p>
      </section>
      <section>
        <p class="title" data-section-title>
          <a href="#/profile">Profile</a>
        </p>
      </section>
      <section>
        <p class="title" data-section-title>
          <a href="#/friends">Friends</a>
        </p>
      </section>
      <section>
        <p class="title" data-section-title>
          <a href="#/friend_requests">Friend Requests</a>
        </p>
      </section>
      <section>
        <p class="title" data-section-title>
          <a href="#/users/<%= SpaceFace.CurrentUser.id %>/photos">Photos</a>
        </p>
      </section>
    </div>

  </div>